doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/estilo_3.css")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js") 
        link(rel="stylesheet", href="/css/estilo_2.css")
        //script(src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels") 
        script(src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0-rc.1/chartjs-plugin-datalabels.min.js" integrity="sha512-+UYTD5L/bU1sgAfWA0ELK5RlQ811q8wZIocqI7+K0Lhh8yVdIoAMEs96wJAIbgFvzynPm36ZCXtkydxu1cs27w==" crossorigin="anonymous" referrerpolicy="no-referrer")
        title= TituloPagina
    body


        header
            nav(class="navegacion")
                ul(class="menu")
                    li  
                        a(id = "evaluador" href="/profile")= nombre
                    li
                        a(href="/profile/micuenta" ) Cuenta
                    li
                        a(href="/profile/contacto") Contacto
                    li         
                        a(href="/cerrarsesion") Cerrar sesión


        block contenido

