doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/estilo_2.css")
        title= TituloPagina
    body


        header
            nav(class="navegacion")
                ul(class="menu")
                    li  
                        a(href="") Evaluaci贸n 
                        
                        ul(class="submenu")
                            li 
                                a(href="") Crear evaluaci贸n
                            li
                                a(href="") Ver evaluaci贸n

                    li
                        a(href="" ) Cuenta
                    li
                        a(href="") Contacto
                    li 
                        a(href="") 
                    li 
                        a(href="")
                    li 
                        a(href="")
                    li 
                        a(href="")
                    li         
                        a(href="") Cerrar sesi贸n

        block contenido

