doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/estilo_1.css")
        title= TituloPagina
    body

        header(class = "barra")
            nav(id="menu")
                ul
                    div 
                        a(href="/") APP 
                    li 
                        a(href="/") Iniciar Sesión 
                    li 
                        a(href="/registro") Registrarse

        div(class="clearfix")

        block contenido

        footer(class="footer")

            div 
                p Tesis de María Lucía y Alejandro Cárdenas &copy; 2021

